@model RootObject
@if((Model.results != null) && (Model.info!=null))
{
    <div class="card-body p-4">
        <table id="tblData" class="table table-bordered table-striped pt-3" style="width:100%">
            <thead>
                <tr class="rowHeader">
                    <th>User Information</th>
                    <th>&nbsp;</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>Gender</td>
                    <td>@Model.results[0].gender</td>
                  
                </tr>
                <tr>
                    <td>Name</td>>
                    <td>@Model.results[0].name.title ,@Model.results[0].name.first,@Model.results[0].name.last </td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>
                        <table>
                            <tr>
                                <td>Street: </td>
                                <td><div>@Model.results[0].location.street.number , @Model.results[0].location.street.name</div></td>
                            </tr>
                            <tr>
                                <td>City: </td>
                                <td><div>@Model.results[0].location.city </div></td>
                            </tr>
                            <tr>
                                <td>State: </td>
                                <td><div>@Model.results[0].location.state </div></td>
                            </tr>
                            <tr>
                                <td>Country: </td>
                                <td><div>@Model.results[0].location.country </div></td>
                            </tr>
                            <tr>
                                <td>Postcode: </td>
                                <td><div>@Model.results[0].location.postcode </div></td>
                            </tr>
                            <tr>
                                <td>Coordinates: </td>
                                <td>
                                    <div><span>Latitude: </span>@Model.results[0].location.coordinates.latitude</div>
                                    <div><span>Logitude: </span>@Model.results[0].location.coordinates.longitude</div>
                                </td>
                            </tr>
                            <tr>
                                <td>Timezone: </td>
                                <td>
                                    <div><span>Offset : </span>@Model.results[0].location.timezone.offset</div>
                                    <div><span>Description : </span>@Model.results[0].location.timezone.description</div>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>@Model.results[0].email</td>
                </tr>
                <tr>
                    <td>Login</td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <div><span>UUID : </span></div>

                                </td>
                                <td>@Model.results[0].login.uuid</td>
                            </tr>
                            <tr>
                                <td>
                                    <div><span>User Name : </span></div>
                                </td>
                                <td>@Model.results[0].login.username</td>
                            </tr>
                            <tr>
                                <td>
                                    <div><span>Password : </span></div>

                                </td>
                                <td>
                                    @Model.results[0].login.password
                                </td>
                            </tr>
                            <tr>
                                <td><span>Salt : </span></td>
                                <td>@Model.results[0].login.salt</td>

                            </tr>
                            <tr>
                                <td>
                                    <div><span>MD5 : </span></div>

                                </td>
                                <td>
                                    @Model.results[0].login.md5
                                </td>
                            </tr>
                            <tr>
                                <td><div><span>SHA1 : </span></div></td>
                                <td>@Model.results[0].login.sha1</td>
                            </tr>

                            <tr>
                                <td><div><span>SHA256 : </span></div></td>
                                <td>@Model.results[0].login.sha256</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>DOB </td>
                    <td>
                        <table>
                            <tr>
                                <td><div><span>Date : </span></div></td>
                                <td>@Model.results[0].dob.date</td>
                            </tr>
                            <tr>
                                <td><div><span>Age : </span></div></td>
                                <td>@Model.results[0].dob.age</td>
                            </tr>
                        </table>
                    </td>
                </tr>


                <tr>
                    <td>Registered </td>
                    <td>
                        <table>
                            <tr>
                                <td><div><span>Date : </span></div></td>
                                <td>@Model.results[0].registered.date</td>
                            </tr>
                            <tr>
                                <td><div><span>Age : </span></div></td>
                                <td>@Model.results[0].registered.age</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>Phone </td>
                    <td>@Model.results[0].phone</td>
                </tr>
                <tr>
                    <td>Cell </td>
                    <td>@Model.results[0].cell</td>
                </tr>



                <tr>
                    <td>ID </td>
                    <td>
                        <table>
                            <tr>
                                <td><div><span>Name : </span></div></td>
                                <td>@Model.results[0].id.name</td>
                            </tr>
                            <tr>
                                <td><div><span>Value : </span></div></td>
                                <td>@Model.results[0].id.value</td>
                            </tr>
                        </table>
                    </td>
                </tr>


                <tr>
                    <td>Picture </td>
                    <td>
                        <table>
                            <tr>
                                <td><div><span>Large : </span></div></td>
                                <td>@Model.results[0].picture.large</td>
                            </tr>
                            <tr>
                                <td><div><span>Medium : </span></div></td>
                                <td>@Model.results[0].picture.medium</td>
                            </tr>
                            <tr>
                                <td><div><span>Thumbnail : </span></div></td>
                                <td>@Model.results[0].picture.thumbnail</td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>Nat  </td>

                    <td>@Model.results[0].nat</td>
                </tr>


            </tbody>
        </table>
        <table id="tblInfo" class="table table-bordered table-striped pt-3" style="width:100%">
            <thead >
                <tr class="rowHeader">
                    <th>Information</th>
                    <th>&nbsp;</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>Seed</td>
                    <td>@Model.info.seed</td>
                </tr>

                <tr>
                    <td>Result</td>
                    <td>@Model.info.results</td>
                </tr>
                <tr>
                    <td>Page</td>
                    <td>@Model.info.page</td>
                </tr>
                <tr>
                    <td>
                        Version
                    </td>
                    <td>
                        @Model.info.version
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
}
